---

#  mplfinance: customization and styles

---

In [1]:
# This allows multiple outputs from a single jupyter notebook cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%matplotlib inline
import pandas as pd

### Read in daily data for the S&P 500 from November of 2019

In [3]:
daily = pd.read_csv('data/SP500_NOV2019_Hist.csv',index_col=0,parse_dates=True)
daily.index.name = 'Date'
daily.shape
daily.head(2)
daily.tail(2)

(20, 5)

               Open     High      Low    Close     Volume
Date
2019-11-01  3050.72  3066.95  3050.72  3066.91  510301237
2019-11-04  3078.96  3085.20  3074.87  3078.27  524848878

               Open     High      Low    Close     Volume
Date
2019-11-27  3145.49  3154.26  3143.41  3153.63  421853938
2019-11-29  3147.18  3150.30  3139.34  3140.98  286602291

In [4]:
daily.columns.str.lower()

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [5]:
daily.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [6]:
tempindex = pd.Index(daily.columns.str.lower())

In [7]:
tempindex

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [8]:
ixlow = tempindex.get_loc('low')

In [9]:
daily.iloc[:,ixlow].values

array([3050.72, 3074.87, 3072.15, 3065.89, 3080.23, 3073.58, 3075.82,
       3084.73, 3078.8 , 3083.26, 3104.6 , 3112.06, 3113.47, 3091.41,
       3094.55, 3099.26, 3117.44, 3131.  , 3143.41, 3139.34])

In [10]:
saveindex = pd.Index(daily.columns)

In [11]:
saveindex

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [12]:
daily.columns = daily.columns.str.lower()

In [13]:
daily.head()

               open     high      low    close     volume
Date
2019-11-01  3050.72  3066.95  3050.72  3066.91  510301237
2019-11-04  3078.96  3085.20  3074.87  3078.27  524848878
2019-11-05  3080.80  3083.95  3072.15  3074.62  585634570
2019-11-06  3075.10  3078.34  3065.89  3076.78  544288522
2019-11-07  3087.02  3097.77  3080.23  3085.18  566117910

In [14]:
saveindex

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [15]:
daily.columns = pd.Index(['Open', 'open', 'oPEN', 'OPEN', 'Volume'])

In [16]:
daily.head()

               Open     open     oPEN     OPEN     Volume
Date
2019-11-01  3050.72  3066.95  3050.72  3066.91  510301237
2019-11-04  3078.96  3085.20  3074.87  3078.27  524848878
2019-11-05  3080.80  3083.95  3072.15  3074.62  585634570
2019-11-06  3075.10  3078.34  3065.89  3076.78  544288522
2019-11-07  3087.02  3097.77  3080.23  3085.18  566117910

In [17]:
daily['OPEN'].head()

Date
2019-11-01    3066.91
2019-11-04    3078.27
2019-11-05    3074.62
2019-11-06    3076.78
2019-11-07    3085.18
Name: OPEN, dtype: float64

In [18]:
daily.columns = daily.columns.str.lower()

In [19]:
daily['open'].head()

               open     open     open     open
Date
2019-11-01  3050.72  3066.95  3050.72  3066.91
2019-11-04  3078.96  3085.20  3074.87  3078.27
2019-11-05  3080.80  3083.95  3072.15  3074.62
2019-11-06  3075.10  3078.34  3065.89  3076.78
2019-11-07  3087.02  3097.77  3080.23  3085.18

In [20]:
STOP HERE

SyntaxError: invalid syntax (<ipython-input-20-a6774c8535dd>, line 1)

In [ ]:
import mplfinance as mpf

# Customizing the plot

### In addition to plot type (line,ohlc,candle),<br> we can partially customize the appearance of the plot using kwargs,<br> for example:

- **Aspect Ratio and Size of the Figure**
- **Display of Non-Trading Days**
- **Figure Title**
- **Y-Labels**
- **Line Color for line plot**

***

- `figscale` is used to scale the aspect ratio (`figratio`) up or down.
- `figscale=1.0` means that the aspect ratio, `figratio`, *\*is** the size of the Figure in inches.
- `figscale` and `figratio` can be used independently (they do _not_ need to be specified together)
- If not specified, the default values (as of Feb 2020) are:
  - `figscale = 1.0`
  - `figratio = (8.00,5.75)`

In [ ]:
mpf.plot(daily,figratio=(15,10),figscale=0.5)

---

- An earlier (pre-release) version of mplfinance provided the `no_xgaps` kwarg to eliminate the gaps in the plot created by non-trading periods (days or, for intraday data, hours)
- Based on feedback from users the `mpf.plot()` *now* ***defaults to NOT show*** *non-trading periods* (`no_xgaps=True`) ***and*** *the* `no_xgaps` *keyword is deprecated, in favor of the* `show_nontrading` *kwarg:*

In [ ]:
mpf.plot(daily,type='candle',volume=True,figscale=0.9)
mpf.plot(daily,type='candle',volume=True,figscale=0.9,show_nontrading=True)