In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#import matplotlib.pyplot as plt
#print(plt.style.available)

In [3]:
import pandas as pd
pd.__version__

'0.24.2'

In [4]:
#        Time     Open     High      Low    Close
rows = []
rows.append((736859.197917,  1.18242,  1.18245,  1.18218,  1.18221))
rows.append((736859.201389,  1.18221,  1.18252,  1.18199,  1.18232))
rows.append((736859.204861,  1.18232,  1.18275,  1.18232,  1.18253))
rows.append((736859.208333,  1.18254,  1.18256,  1.18172,  1.18172))
rows.append((736859.211806,  1.18173,  1.18211,  1.18159,  1.18187))

dfi = pd.DataFrame(rows)
dfi.columns = ('Time','Open','High','Low','Close')
#dfi.set_index('Time',inplace=True)
dfi

            Time     Open     High      Low    Close
0  736859.197917  1.18242  1.18245  1.18218  1.18221
1  736859.201389  1.18221  1.18252  1.18199  1.18232
2  736859.204861  1.18232  1.18275  1.18232  1.18253
3  736859.208333  1.18254  1.18256  1.18172  1.18172
4  736859.211806  1.18173  1.18211  1.18159  1.18187

In [5]:
type(dfi)

pandas.core.frame.DataFrame

In [6]:
type(dfi.index)

pandas.core.indexes.range.RangeIndex

In [7]:
import matplotlib.dates as mdates

In [8]:
dts = mdates.num2date(dfi['Time'])
#dts = [roundTime(dt,roundTo=5) for dt in dts]
dfi.index = pd.DatetimeIndex(dts)
dfi.index.name = 'Time'
dfi.drop(['Time'],axis=1,inplace=True)
dfi

                                     Open     High      Low    Close
Time
2018-06-14 04:45:00.028800+00:00  1.18242  1.18245  1.18218  1.18221
2018-06-14 04:50:00.009600+00:00  1.18221  1.18252  1.18199  1.18232
2018-06-14 04:54:59.990400+00:00  1.18232  1.18275  1.18232  1.18253
2018-06-14 04:59:59.971200+00:00  1.18254  1.18256  1.18172  1.18172
2018-06-14 05:05:00.038400+00:00  1.18173  1.18211  1.18159  1.18187

In [9]:
#        Time     Open     High      Low    Close
rows = []
#rows.append((736859.197917,  1.18242,  1.18245,  1.18218,  1.18221))
#rows.append((736859.201389,  1.18221,  1.18252,  1.18199,  1.18232))
#rows.append((736859.204861,  1.18232,  1.18275,  1.18232,  1.18253))
#rows.append((736859.208333,  1.18254,  1.18256,  1.18172,  1.18172))
#rows.append((736859.211806,  1.18173,  1.18211,  1.18159,  1.18187))

rows.append((736859.197917,  1.18242,  1.18245,  1.18218,  1.18221))
rows.append((736860.201389,  1.18221,  1.18252,  1.18199,  1.18232))
rows.append((736861.204861,  1.18232,  1.18275,  1.18232,  1.18253))
rows.append((736862.208333,  1.18254,  1.18256,  1.18172,  1.18172))
rows.append((736863.211806,  1.18173,  1.18211,  1.18159,  1.18187))

df = pd.DataFrame(rows)
df.columns = ('Time','Open','High','Low','Close')
df
dts = mdates.num2date(df['Time'])
#dts = [roundTime(dt,roundTo=60) for dt in dts]
df.index = pd.DatetimeIndex(dts)
df.index.name = 'Time'
df.drop(['Time'],axis=1,inplace=True)
df

            Time     Open     High      Low    Close
0  736859.197917  1.18242  1.18245  1.18218  1.18221
1  736860.201389  1.18221  1.18252  1.18199  1.18232
2  736861.204861  1.18232  1.18275  1.18232  1.18253
3  736862.208333  1.18254  1.18256  1.18172  1.18172
4  736863.211806  1.18173  1.18211  1.18159  1.18187

                                     Open     High      Low    Close
Time
2018-06-14 04:45:00.028800+00:00  1.18242  1.18245  1.18218  1.18221
2018-06-15 04:50:00.009600+00:00  1.18221  1.18252  1.18199  1.18232
2018-06-16 04:54:59.990400+00:00  1.18232  1.18275  1.18232  1.18253
2018-06-17 04:59:59.971200+00:00  1.18254  1.18256  1.18172  1.18172
2018-06-18 05:05:00.038400+00:00  1.18173  1.18211  1.18159  1.18187

In [10]:
import mplfinance as mpf

In [11]:
dir(mpf)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_utils',
 'plot',
 'plotting']

In [12]:
#dir(mpf.plotting)

In [13]:
dir(mpf._utils)

['Affine2D',
 'Line2D',
 'LineCollection',
 'PolyCollection',
 'Rectangle',
 'TICKLEFT',
 'TICKRIGHT',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_input',
 '_construct_candlestick_collections',
 '_construct_ohlc_collections',
 'mcolors',
 'np',
 'xrange',
 'zip']

In [14]:
import matplotlib as mpl
mpl.__version__
print(mpl.rcParams['axes.edgecolor'])

'3.0.3'

black

In [15]:
jj=0
for item in mpl.rcParams:
    if 'wid' in item:
        print(item)
        jj+=1
    if jj > 10:
        break

axes.linewidth
boxplot.boxprops.linewidth
boxplot.capprops.linewidth
boxplot.flierprops.linewidth
boxplot.meanprops.linewidth
boxplot.medianprops.linewidth
boxplot.whiskerprops.linewidth
grid.linewidth
hatch.linewidth
lines.linewidth
lines.markeredgewidth

In [16]:
print(mpl.rcParams['lines.linewidth'])
print(mpl.rcParams['axes.linewidth'])

2.0
1.5

In [17]:
STOP HERE

SyntaxError: invalid syntax (<ipython-input-17-a6774c8535dd>, line 1)

In [18]:
%matplotlib qt

In [19]:
mpf.plot(df)#,type='candlestick',mav=(20,50,100))#,study=0)

In [ ]:
mpf.plot(df,type='ohlc')

In [20]:
mpf.plot(dfi,type='candlestick')

In [21]:
iday = pd.read_csv('data/SP500_NOV2019_IDay.csv',index_col=0,parse_dates=True)
#iday = iday[::-1].drop('Volume',axis=1)
iday = iday.drop('Volume',axis=1)
iday.index.name = 'Date'
iday.shape
iday.head(3)
iday.tail(3)

(1605, 4)

                        Open    Close     High      Low
Date
2019-11-05 09:30:00  3080.80  3080.49  3081.47  3080.30
2019-11-05 09:31:00  3080.33  3079.36  3080.33  3079.15
2019-11-05 09:32:00  3079.43  3079.68  3080.46  3079.43

                        Open    Close     High      Low
Date
2019-11-08 15:57:00  3090.73  3090.70  3091.02  3090.52
2019-11-08 15:58:00  3090.73  3091.04  3091.13  3090.58
2019-11-08 15:59:00  3091.16  3092.91  3092.91  3090.96

In [22]:
mpf.plot(iday[260:290])#,type='candlestick')

In [23]:
mpf.plot(iday[260:290],mav=(3,7,11))

processing mav= 3
processing mav= 7
processing mav= 11

In [ ]:
mpf.plot(iday[260:290],type='candlestick')

In [ ]:
iday[260:290].head()
iday[260:290].tail()

In [ ]:
hist = pd.read_csv('data/SP500_NOV2019_Hist.csv',index_col=0,parse_dates=True)
#hist = hist[::-1]
hist.columns = [tok.split()[0] for tok in hist.columns]
hist.rename({'Last':'Close'},axis=1,inplace=True)
hist.index.name = 'Date'
hist.shape
hist.head(3)
hist.tail(3)

In [ ]:
#mpf.plot(hist)
mpf.plot(hist,mav=(4,6,9))

In [ ]:
mpf.plot(hist,type='candlestick',mav=(5,10))