In [1]:
# This allows multiple outputs from a single jupyter notebook cell:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%matplotlib inline
import pandas as pd

### Read in daily data for the S&P 500 from November of 2019

In [3]:
daily = pd.read_csv('../data/SP500_NOV2019_Hist.csv',index_col=0,parse_dates=True)
daily.index.name = 'Date'
daily.shape
daily.head(2)
daily.tail(2)

(20, 5)

               Open     High      Low    Close     Volume
Date
2019-11-01  3050.72  3066.95  3050.72  3066.91  510301237
2019-11-04  3078.96  3085.20  3074.87  3078.27  524848878

               Open     High      Low    Close     Volume
Date
2019-11-27  3145.49  3154.26  3143.41  3153.63  421853938
2019-11-29  3147.18  3150.30  3139.34  3140.98  286602291

In [4]:
import mplfinance as mpf

SyntaxError: invalid syntax (_utils.py, line 496)

In [ ]:
segments=[
    [
        ('2019-11-8',3095.),('2019-11-15',3120.)#,('2019-11-17',3128.),('2019-11-22',3100.)
    ],
    [
        ('2019-11-17',3128.),('2019-11-22',3100.)
    ]
]

In [ ]:
# mpf.plot(daily,type='renko',show_nontrading=True)
# mpf.plot(daily,type='renko',show_nontrading=True)
# mpf.plot(daily,type='renko',lines=segments,figscale=1.25,show_nontrading=False)
# mpf.plot(daily,type='renko',lines=segments,figscale=1.25,show_nontrading=True)
# mpf.plot(daily,type='candle',lines=segments,figscale=1.25,show_nontrading=False)

In [ ]:
segments

In [ ]:
#mpf.plot(daily,type='renko',lines=segments,figscale=1.25,renko_params=dict(brick_size=7))
mpf.plot(daily,type='renko',lines=segments,figscale=1.25,renko_params=dict(brick_size='atr',atr_length=2))

In [ ]:
idf = pd.read_csv('../data/SP500_NOV2019_IDay.csv',index_col=0,parse_dates=True)

In [ ]:
isegs=[
    [
        ('2019-11-5 12:50',3080.),('2019-11-5 15:30',3070.),('2019-11-7 14:30',3090.)
    ],
]

In [ ]:
mpf.plot(idf,lines=isegs,figscale=1.25)
mpf.plot(idf,lines=isegs,figscale=1.25,show_nontrading=True)

In [ ]:
df = pd.read_csv('../data/yahoofinance-SPY-20080101-20180101.csv',index_col=0,parse_dates=True)
df.shape
df.head(2)
df.tail(2)

In [ ]:
segs =[
    [
        ('2016-11-8',150.),('2017-11-15',175.)#,('2019-11-17',3128.),('2019-11-22',3100.)
    ],
    [
        ('2011-11-17',200.),('2013-11-22',200.)
    ]
]

In [ ]:
mpf.plot(df,lines=segs,figscale=1.25,type='renko',renko_params=dict(brick_size=3.005,atr_length=2))

In [ ]:
#STOP HERE

In [ ]:
#mpf.plot(daily,type='candle',volume=True,figscale=0.9)
#mpf.plot(daily,type='candle',volume=True,figscale=0.9,show_nontrading=True)

In [ ]:
#mpf.plot(daily,type='candle',volume=True,
#         title='\nS&P 500, Nov 2019',
#         ylabel='OHLC Candles',
#         ylabel_lower='Shares\nTraded')

In [ ]:
#mpf.plot(daily, type='line', linecolor='#00ff00')